.form-field-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

input[type="text"] {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 0.5rem;
	font-size: 16px;
	font-family: $main-font;
	font-weight: bold;
	outline: none;
	border: none;

	&:focus {
		background: $light-background;
		color: $dark-blue;

		& ~ .module-search-icon {
			fill: $pink;
		}

		& ~ .module-search-list-wrapper {
			display: block;
		}
	}

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-weight: normal;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		font-weight: normal;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		font-weight: normal;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-weight: normal;
	}
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	background-color: $light-background;
	border: 1px solid $darkest-blue;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;

	&:active, &:checked:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}

	&:checked {
		background-color: $light-background;
		border: 1px solid $darkest-blue;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: $darkest-blue;
	}	

	&:checked:after {
		content: '\2714';
		font-size: 14px;
		position: absolute;
		top: 0px;
		left: 3px;
		color: $darkest-blue;
	}
}

label {
	display: inline-block;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 3px;
}

.module-search {
	margin: 0;
	padding: 1rem;
}

.module-search-input {
	width: 100%;
}

.icon.module-search-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 20px;
	height: 20px;
}

.module-search-list-wrapper {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	background: $light-background;

	& > .module-search-list {
		list-style-type: none;

		& > li {
			padding: 1rem;
			vertical-align: middle;

			& .icon {
				fill: $darkest-blue;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}

			&:hover {
				
				background: $lightest-blue;

				& a {
					color: $light-background;
				}

				& .icon {
					fill: $light-background;
				}
			}
		}
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	a {
		color: $darkest-blue;	
		text-decoration: none;
	}
}