// Form Reset 
button, input, select, textarea {
 outline: none;	
}

.form-field-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	&.form-field-center {
		text-align: center;
	}
}

.selectbox-wrapper {
	& > label {
		font-weight: bold;
		min-width: 100px;
		display: inline-block;
		vertical-align: middle;
	}
}

input[type="text"] {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 0.5rem;
	font-size: 16px;
	font-family: $main-font;
	font-weight: bold;
	border: none;
	-webkit-transition: background-color 600ms linear;
	-ms-transition: background-color 600ms linear;
	transition: background-color 600ms linear;	

	&:focus {
		background: $light-background;
		color: $dark-blue;
	}

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-weight: normal;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		font-weight: normal;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		font-weight: normal;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-weight: normal;
	}
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	background-color: $light-background;
	border: 1px solid $darkest-blue;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;

	&:active, &:checked:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}

	&:checked {
		background-color: $light-background;
		border: 1px solid $darkest-blue;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: $darkest-blue;
	}	

	&:checked:after {
		content: '\2714';
		font-size: 14px;
		position: absolute;
		top: 0px;
		left: 3px;
		color: $darkest-blue;
	}
}

label {
	display: inline-block;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 3px;
}

select {
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-padding-end: 20px;
	-moz-padding-end: 20px;
	-webkit-padding-start: 2px;
	-moz-padding-start: 2px;
	background-color: $light-background; /* fallback color if gradients are not supported */
	background-image: url(/public/images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
	background-image: url(/public/images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
	background-image: url(/public/images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
	background-image: url(/public/images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
	background-image: url(/public/images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 20px 16px;
	width: 50%;
	border: none;
	border-radius: 2px;
	color: $darkest-blue;
	font-size: 14px;
	margin: 2px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px;
}

.btn-submit {
	background-color: $darkest-blue;
	color: $lightest-blue;
	width: 180px;
	padding: 0.8rem;
	margin: 1rem 0 0.5rem;
	border: none;
	font-size: 0.9em;
	transition: all 0.5s;
	transition: color 0.2s;
  cursor: pointer;

	& > span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;

		&:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.2s;
		}
	}

	&:hover {
		color: $light-background;
		background-color: $dark-blue;

		& > span {
			padding-right: 20px;

			&:after {
  			opacity: 1;
  			right: 0;
			}
		}

	}
}