* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background: $dark-grey;
  color: $white;
  text-align: center;
  border-bottom: 0.5rem solid $light-orange;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $light-blue;
  color: $white;
  text-align: center;
}

.app-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;

  p {
    margin: 0;
  }
}

.app-list {
  list-style-type: none;
  padding: 1rem 0;

  & > li {
    padding: 0.5rem 0;
  }
}

.app-header {
  min-height: 150px;
  margin: auto;
  padding: 1rem 0;

  & .app-logo {
    fill: $orange;
  }

  & > .app-title {
    & > span {
      display: block;
      font-size: 1.2rem;
    }
  }

  .header-summary {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
}

#c {
  stroke: $light-grey;
  stroke-dasharray: 100;
  stroke-width: 1px;
}
