$red: #c0392b;
$yellow: #f1c40f;
$green: #4bb543;
$orange: #dc8000;

$light-orange: #ffa526;
$light-blue: #448ccb;
$light-grey: #cdcdcd;
$dark-grey: #4c4c4c;

$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-grey;
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: $black;
  transition: color 0.5s ease;

  &:hover {
    color: $white;
  }
}

.app-nav {
  background: $dark-grey;
  color: $white;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 0.5rem solid $light-orange;
  transition: box-shadow 0.3s ease-in-out;
  animation: pulsate 1s ease-out infinite alternate;
}

@keyframes pulsate {
  from { box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15); }
  to { box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $light-blue;
  color: $white;
  text-align: center;
}

.app-content {
  width: 960px;
  margin: 0 auto;
  padding: 1rem;

  h1,
  p {
    margin-bottom: 0.5rem;
  }
}

.app-list {
  list-style-type: none;
  padding: 1rem 0;

  & > li {
    padding: 0.5rem 0;
  }
}

.app-header {
  & .app-cog {
    fill: $orange;
    animation: spin 20s linear infinite;
    transform-origin: 50% 50%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

